$color-green: #3AA89D;
$color-blue: #39BBD1;
$color-pink: #CC819F;
$color-gray: #6C8196 ;

$color-green-logo: #15C472 ;


$breakpoint-medium: 600px;
$breakpoint-large: 900px;

$duration-slow: .8s;
$duration-normal: .5s;
$duration-fast: .3s;
