.social {
    color: $color-grey;
    font-size: 1.5em;
}

.navbar-menu {
    color: $color-grey;
    margin-right: 2em;

    a:hover {
        background-color: $color-white;
    }
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    margin-left: 1em;
    width: 15vh;
    z-index: 10;

    }

.header {
    border-bottom: 1px solid $color-blue;
    }
