.aside {

    &__image {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // height: 10em;
        margin: auto;
        text-align: center;
        width: 60%;
    }

    &__title {
        color: $color-blue;
        font-size: 2em;
        margin-top: 1.5em;
        text-align: center;
        text-shadow: 1px 2px 3px $ombre-title;

      }
}
