.section {
    margin: auto;
    width: 80%;


    &__title {
        font-size: 1em;
        font-weight: bold;
        text-decoration: underline;

        &__text {
            margin:  4em;
            // width: 30em;
        }
    }
}

.section-contact {
    margin: 1.5em;
    text-align: center;

    &__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        text-align: center;
        width: 40%;
    }

    &__title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: .5em;
        margin-top: 1em;
    }

    .button-contact {
        background-color: $color-blue;
        border: 0;
        font-size: 1em;
        margin-bottom: 1em;
        margin-top: .5em;
        padding: .7em;
    }
}

.section-divers {
    background-color: $color-text;
    color: $color-white;
    padding: 2em;
}

.column {


    &-title {
        font-weight: 400;
        margin-bottom: .5em;
        text-align: center;
}

    &-service {
        display: flex;
        flex-direction: column;
        padding-left: 4em;
    }

    &-news {
        display: flex;
        flex-direction: column;
    }

    &-input {
        padding: 1em;
    }

    &-button {
        font-size: 14px;
        margin: auto;
        margin-top: 1em;
        text-align: center;
        width: 10em;
    }

}
